.Input {

  &__container {
    padding: 8px 12px;
    background-color: var(--color-grey-100);
    border: 2px solid transparent;
    border-radius: var(--border-radius-medium);
    transition: var(--element-state-change-duration);

    &:focus-within {
      border-color: var(--color-dark);
      background-color: var(--color-white);
      transition: var(--hover-duration);
    }

    &--error {
      border-color: var(--color-red);
      transition: var(--hover-duration);

      &:focus-within {
        border-color: var(--color-red);
        transition: var(--hover-duration);
      }
    }
  }

  &__label {
    display: inline-block;
    max-width: 100%;
    font-family: var(--font-fixel-text-semi-bold);
    font-size: 12px;
    font-weight: 600;
    line-height: var(--font-line);
    color: var(--color-primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &--disabled {
      color: var(--color-grey-400);
    }
  }

  &__field {
    margin-top: 4px;
    width: 100%;
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-black);
    background-color: transparent;

    &:disabled {
      color: var(--color-grey-400);
    }
  }

  &__helper-text {
    margin-top: 8px;
    font-family: var(--font-inter);
    font-size: var(--font-size-xs);
    font-weight: 500;
    line-height: 20px;
    color: var(--color-red);
  }
}


