:root {
  --color-primary: rgb(0 98 245 / 100%);
  --color-black: rgb(0 0 0 / 100%);
  --color-white: rgb(255 255 255 / 100%);
  --color-dark: rgb(34 43 56 / 100% );

  --color-green: rgb(25 178 114 / 100%);
  --color-green-loader: rgb(12 189 104 / 100%);
  --color-red: rgb(255 0 0 / 100%);
  --color-orange: rgb(255 122 0 / 100%);
  --color-orange-gradient: linear-gradient(235.69deg, #ff4d78 0%, #ff9600 100%);

  --color-border-grey-1: rgb(228 231 235 / 100%);
  --color-border-grey-2: rgb(0 0 0 / 8%);
  --color-border-grey-3: rgb(223 229 239 / 100%);
  --color-shaddow: rgb(29 41 52 / 24%);

  --color-grey-100: rgb(241 245 251 / 100%);
  --color-grey-200: rgb(225 233 244 / 100%);
  --color-grey-300: rgb(206 215 229 / 100%);
  --color-grey-400: rgb(119 129 145 / 100%);

  --color-font-grey-1: rgb(167 167 167 / 100%);
  --color-font-grey-2: rgb(0 0 0 / 48%);
}
