.UserReviews {

  &__title {
    font-family: var(--font-lora);
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: var(--color-black);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }
}