.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: var(--header-height);

  background-color: var(--color-white);
  box-shadow: var(--box-shadow);

  &__title {
    color: var(--color-dark);
    font-family: var(--font-lora);
    font-size: var(--font-size-lg);
    font-weight: 700;
    line-height: 20px;
  }
}
